*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(220, 220, 220);
}

header .top h1{
    background-color: white;
    text-align: center;
    padding: 10px;
    color: royalblue;
    text-transform: uppercase;
}

main .container{
    position: relative;
    width: 100%;
    height: 45vw;
}

main .card{
    background-color: white;
    width: 350px;
    height: 500px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    border-bottom: 15px solid royalblue;
    
    transition: width 1s, height 1s, box-shadow 1s;
}

main .card:hover{
    box-shadow: 0px 0px 10px royalblue;
}

main .datas div input{
    text-align: center;
    width: 50px;
}

main .datas div{
    margin: 60px 0px 60px 0px;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

main .datas .btn input{
    width: 140px;
    height: 30px;
    cursor: pointer;
    background-color: white;
    border: 2px solid royalblue;
    color: royalblue;
    border-radius: 10px;
}

footer .bot a{
    text-decoration: none;
    color: royalblue;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}