*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(220, 220, 220);
}

header .top h1{
    background-color: white;
    text-align: center;
    padding: 10px;
    color: royalblue;
    text-transform: uppercase;
}

main .container{
    position: relative;
    width: 100%;
    height: 45vw;
}

main .card{
    background-color: white;
    width: 350px;
    height: 500px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    border-bottom: 15px solid royalblue;
    
    transition: width 1s, height 1s, box-shadow 1s;
}

main .card:hover{
    box-shadow: 0px 0px 10px royalblue;
}

main .datas input{
    font-size: 20px;
    text-align: center;
    height: 25px;
    width: 60px;
    border: 2px solid black;
    border-radius: 10px;
    transition: background 1s;
}

main .datas input:focus{
    background-color: rgb(255, 255, 255);
    width: 80px;
}

main .datas .form-control, .btn{
    margin: 50px 0px 50px 0px;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
}

main .datas .form-control label, input{
    margin: 0px 15px 0px 15px;
}

main .datas h3{
    color: royalblue;
}

main .datas .btn input{
    font-size: 16px;
    width: 140px;
    height: 30px;
    cursor: pointer;
    background-color: white;
    border: 2px solid royalblue;
    color: royalblue;
    border-radius: 10px;
    transition: background 1s;
}

main .datas .btn input:hover{
    background-color: rgb(220, 220, 220);
}

footer .bot a{
    text-decoration: none;
    color: royalblue;
    font-size: 16px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}

.modal{
    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;

    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    width: 400px;
    border: 2px dashed royalblue;
}


.modal h3, label{
    color: royalblue;
}

.modal img{
    width: 15px;
    margin-left: 80px;
    cursor: pointer;
}

.modal .head{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}